# Ignore data
data/

# Ignore other files
Guidance/

# Ignore Mac system files
.DS_Store

# Ignore R temporary files
.Rhistory
.RData
.Rproj.user

# Ignore LaTeX auxiliary files
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.fdb_latexmk
paper/*.fls
paper/*.bbl
paper/*.pdf
paper/*.bib
paper/figures/
